body{	
	background-color: #f4f1de;	
}	
#top-menu{	
	background-color: #002A4E;
	    border-radius: 0em;
}	
#title{	
	font-family: 'Josefin Sans', sans-serif;	
	text-shadow: 1px 1.5px 4px #000000;
	transition: .5s;	
	letter-spacing: .03em;
	font-size: 2.2em;
}	
#logo{
	display: block;
  margin-left: auto;
	margin-right: auto;
	width: 100px;
	margin-bottom: 5px;
}
#load-container{
	padding-left: 2rem;
	font-size: 12px;
	color: #002A4E;
}
#loadproof{
	height: 25px;
}
#loadrepo{
	height: 25px;
}
#loadfinishedrepo{
	height: 25px;
}

hr{
	width: 90%;
	border-color: rgba(0, 46, 87, 0.733);
}
#mid-container{	
	padding: 1.5rem;	
	width: 50%;
}	
#textarea-header{	
	margin-left: 0px;	
    margin-right: 0px;	
		color: #002A4E;
		letter-spacing: .2rem;
}	
#textarea-container{	
	margin: 0 0 0 0;	
    border-radius: 0 0 .28571429rem .28571429rem;	
    max-width: 100%;	
} 	
#bottom{
	text-align: center;
	margin: 0;
	color: #002A4E;
}
textarea{	
	width: 100%;	
	height: 25rem;	
	border-color: #002A4E;
	color: #353535;
	border-radius: .28571429rem .28571429rem .28571429rem .28571429rem;
}
::placeholder {
  color: rgb(163, 164, 165);
}
#check-button{
	background-color: #438abf;
	border-radius: 25px;
}
#inp{
	border-color: #002A4E;
}
#check-button:hover{
	background-color: #3875a2;
}
#clear-button{
	border-radius: 25px;
}
#modal-head{
	text-align: center;margin-left: 0px;margin-right: 0px;background-color: white;color: black;
}
#modal-container{
	margin: 0 0 0 0;border-radius: 0 0 .28571429rem .28571429rem;max-width: 100%;
}
.toggle-password {
	float: right;
	color: rgb(160, 160, 160);
	margin-left: -43px;
  margin-top: 11px;
  z-index: 2;
}
#uUPspan{
	color:red;
	font-size: 11px;
	padding-left:4px;
}
#nameYourProof{
	font-size: 12px;
	color: #002A4E;
}
#proofName{
	padding-left: 0.5rem;
	height: 20px;
	width: 100px;
}
#rulesContainer{
	margin-bottom: 1rem; 
	width:95%;
}
#imageHeader{
	margin-left: 0px;	
    margin-right: 0px;	
		color: #002A4E;
		letter-spacing: .15rem;
}

